extends format 

block content 

    if data 
        form(action='' method="POST")
            div.form-cell
                label(for="First-Name")  
                input(type="text" required id="firstname-login-input" name="firstName" value=`${data.error.firstName ? "" : data.newUser.firstName}`)
                if data.error.firstName
                    span#error-form-msg=data.error.firstName.msg
            div.form-cell
                label(for="Last-Name") Last Name  
                input(type="text" required id="lastname-login-input" name="lastName" value=`${data.error.lastName ? "" : data.newUser.lastName}`)
                if data.error.lastName
                    span#error-form-msg=data.error.lastName.msg
            div.form-cell
                label(for="Email") Email  
                input(type="email" required id="password-login-input" name="email"
                value=`${data.error.email ? "" : data.newUser.email}`)
                if data.error.email
                    span#error-form-msg=data.error.email.msg
            div.form-cell
                label(for="username") Username 
                input(type="text" required id="username-login-input" name="username" value=`${data.error.username ? "" : data.newUser.username}`) 
                if data.error.username
                    span#error-form-msg=data.error.username.msg
            div.form-cell
                label(for="password-login-input") Password 
                input(type="password" required id="password-login-input" name="password") 
                if data.error.password
                    span#error-form-msg=data.error.password.msg
            div.form-cell
                label(for="confirm-password-login-input") Confirm Password 
                input(type="password" required id="confirm-password-login-input" name="confirm_password") 
                if data.error.confirm_password
                    span#error-form-msg=data.error.confirm_password.msg
            button#login-button Sign Up!

    else 
        form(action='' method="POST")
            div.form-cell
                label(for="First-Name") First Name  
                input(type="text" required id="firstname-login-input" name="firstName")
            div.form-cell
                label(for="Last-Name") Last Name  
                input(type="text" required id="lastname-login-input" name="lastName")
            div.form-cell
                label(for="Email") Email  
                input(type="email" required id="password-login-input" name="email")
            div.form-cell
                label(for="username") Username 
                input(type="text" required id="username-login-input" name="username") 
            div.form-cell
                label(for="password-login-input") Password 
                input(type="password" required id="password-login-input" name="password") 
            div.form-cell
                label(for="confirm-password-login-input") Confirm Password 
                input(type="password" required id="confirm-password-login-input" name="confirm_password")     
            button#login-button Sign Up!
