extends format 

block content 
    h1 Update Drum Item

    form(action='' method="POST")#adjust-forms 
        div.form-cell
            label(for=`name`) Name 
            input(type="text" name="name" value=`${data.drum_info.name}` required)
        div.form-cell
            label(for=`description`) Description 
            textarea(type="text" name="description" id='description-textarea' required) #{data.drum_info.description}
        div.form-cell
            label(for=`price`) Price
            input(type="number" name="price" value=`${data.drum_info.price}` required)
        div.form-cell
            label(for=`category`) Category 
            select(id='categories-select' name='category' required)
                each category in data.categories
                    if (category._id == data.drum_info.category)
                        option(value=category.id selected)=category.name
                    else
                        option(value=category.id)=category.name
        div.form-cell
            label(for="number_in_stock") Number In Stock
            input(type="number" name="number_in_stock" id="number_in_stock" value=`${data.drum_info.numberInStock}` required)
        div.wrap-button
            button(type="submit") Submit Form
        
        